html, body {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    background-color: #4743bf;
}

.content{
    font-size: 20px;
    padding: 30px;
    color: white;
}
.card {
    display: flex;
    align-items: center;
    height: 10rem;
    background-color: #0d0b3b;
    width: 100%;
    padding: 20px;
}

.rounded{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.card:nth-child(1){
    border-radius: 20px 20px 0px 0px;
}

.card:last-child{
    border-radius: 0px 0px 20px 20px;
}
